include versioneer.py
include skbeam/_version.py
include requirements.txt
include optional-requirements.txt
include LICENSE
recursive-include doc *.rst conf.py Makefile make.bat
recursive-include * *.pyx *.h *.c
