.. _tutorial:

Jupyter Notebooks
=================

{% for section, notebooks in nbs | dictsort %}
{{ section }}
{% if section | length > 4 %}{{ section|length * '-'}}{% else %}{{ '----' }}{% endif %}

.. toctree::
   :maxdepth: 1

{% for nb in notebooks | sort%}
   example/{{ nb }}
{% endfor %}{% endfor %}
